
.icon-arr_l:before {
	background-image: url('png/arr_l.png');
	background-repeat: no-repeat;
}

.icon-arr_r:before {
	background-image: url('png/arr_r.png');
	background-repeat: no-repeat;
}

.icon-bin:before {
	background-image: url('png/bin.png');
	background-repeat: no-repeat;
}

.icon-chat:before {
	background-image: url('png/chat.png');
	background-repeat: no-repeat;
}

.icon-check:before {
	background-image: url('png/check.png');
	background-repeat: no-repeat;
}

.icon-key:before {
	background-image: url('png/key.png');
	background-repeat: no-repeat;
}

.icon-letter:before {
	background-image: url('png/letter.png');
	background-repeat: no-repeat;
}

.icon-menu:before {
	background-image: url('png/menu.png');
	background-repeat: no-repeat;
}

.icon-phone:before {
	background-image: url('png/phone.png');
	background-repeat: no-repeat;
}

.icon-phone2:before {
	background-image: url('png/phone2.png');
	background-repeat: no-repeat;
}

.icon-plane:before {
	background-image: url('png/plane.png');
	background-repeat: no-repeat;
}

.icon-search:before {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}

.icon-star_full:before {
	background-image: url('png/star_full.png');
	background-repeat: no-repeat;
}

.icon-star:before {
	background-image: url('png/star.png');
	background-repeat: no-repeat;
}